<style>
:root {
--brand-color: #3CB35A;
--dark-color: #03012C;
--mid-color: #635E79;
--light-color: #FFFFFF;
  }
</style>

.p1{
  font-family: "Times New Roman", Times, serif; 
  
  .p2{
  font-family: Arial, Helvetica, sans-serif; 
